@import "tailwindcss";

/* Custom Glassmorphic Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.319);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 182, 212, 0.5); /* Cyan Glow on Hover */
}